# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    # List of ingredients that should not be displayed in the list. Format: modId[:name[:meta]]. Hide Ingredients Mode will automatically add or remove entries here. [Default: []]
    S:itemBlacklist <
        appliedenergistics2:facade
        bigreactors:mineralanglesite
        bigreactors:mineralbenitoite
        extraplanets:block_multi
        extraplanets:basic_decontamination_unit_fake_block
        extraplanets:mercury_spawner
        extraplanets:jupiter_spawner
        extraplanets:saturn_spawner
        extraplanets:uranus_spawner
        extraplanets:neptune_spawner
        extraplanets:pluto_spawner
        extraplanets:eris_spawner
        inventorypets:petachieveitem1
        inventorypets:petachieveitem5
        inventorypets:petachieveitem10
        inventorypets:petachieveitem20
        inventorypets:petachieveitem30
        inventorypets:petachieveitem40
        inventorypets:petachieveitem50
        inventorypets:petachieveitem60
        inventorypets:petachieveitemall
        inventorypets:petachieveitemgeneral
        meecreeps:projectile
        meecreeps:portalblock
        monk:monk_level
        moreplanets:fronos_iron_ore
        moreplanets:fronos_gold_ore
        moreplanets:fronos_copper_ore
        moreplanets:fronos_aluminum_ore
        moreplanets:fronos_tin_ore
        moreplanets:fronos_lead_ore
        moreplanets:fronos_silicon_ore
        moreplanets:fronos_quartz_ore
        moreplanets:fronos_lapis_ore
        moreplanets:fronos_diamond_ore
        moreplanets:fronos_emerald_ore
        moreplanets:fronos_coal_ore
        moreplanets:fronos_redstone_ore
        moreplanets:fronos_grass_block
        moreplanets:fronos_dirt
        moreplanets:fronos_coarse_dirt
        moreplanets:fronos_stone
        moreplanets:fronos_cobblestone
        moreplanets:fronos_stone_bricks
        moreplanets:fronos_mossy_stone_bricks
        moreplanets:fronos_cracked_stone_bricks
        moreplanets:fronos_chiseled_stone_bricks
        moreplanets:fronos_dungeon_brick
        moreplanets:fronos_farmland
        rftools:solid_shield_block
        rftools:notick_invisible_shield_block_opaque
        rftools:solid_shield_block_opaque
        rftools:invisible_shield_block
        rftools:notick_invisible_shield_block
        rftools:camo_shield_block
        rftools:camo_shield_block_opaque
        rftools:notick_solid_shield_block
        rftools:notick_camo_shield_block
        rftools:invisible_shield_block_opaque
        rftools:notick_solid_shield_block_opaque
        rftools:notick_camo_shield_block_opaque
        matteroverdrive:contract
        matteroverdrive:android_spawner
        matteroverdrive:matter
        matteroverdrive:matter_plasma
     >
}


